.idea
.env
php/ini/php.ini

data/mongo/*
data/mysql/*
data/redis/*

openresty/conf.d/*
!openresty/conf.d/localhost.conf
openresty/lua/*
openresty/ssl/*
openresty/logs/*

mysql/docker-entrypoint-initdb.d/*